* {
  box-sizing: border-box;
}

body {
  margin:0;
  padding:0;
  font-family: 'Press Start 2P', cursive;
}

.parent {
  display:flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url("https://external-preview.redd.it/duKgD4ViGTX7IyUU5U01JpGsCoh-WVX0WVVB9Xrc_QA.jpg?auto=webp&s=e76d5b61dd8891dd51c3435f3fd212b2b87dc756");
  background-size: cover;
  position: relative;
  top:0;
  left:0;
  width:100%;
  height:100vh;
}

/* .carrot {
  width:90px;
  height:30px;
} */

.console {
  width: 50%;
  height: 95%;
  margin-bottom: 0;
  background-color:rgb(44, 173, 173);
  background-image: url('../images/simpson.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 25px 25px 0 0;
  padding:30px;
}

.screen {
  width:100%;
  height:auto;
  display:flex;
  justify-content: center;
  border-radius: 25px 25px 25px 25px;
  margin-bottom: 50px;
  background: linear-gradient(120deg,#5FF330, #d5ee13, #34caa4, #ee8913, #2979ff, white, #ff0020);
  background-size: 1000% 1000%;
  -webkit-animation: AnimationName 39s ease infinite;
  -moz-animation: AnimationName 39s ease infinite;
  animation: AnimationName 39s ease infinite;
}

.grid-wrapper {
  border: 4px solid rgb(109, 110, 110);
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 500px;
  width: 500px;
}

.grid div {
  flex-grow: 1;
  height: 10px;
  width: 10px;
}

.side {
  display: flex;
  flex-grow:wrap;
  height:auto;
  width: calc((100% - 500px) / 2);
  padding:25px;
  font-weight: bold;
  font-size: 13px;
}

.dark-background {
  background-color: #93C2B5 !important; 
}

.snake {
  background-color: black !important;
  border-radius: 5px;
  background-image:linear-gradient(red, yellow, blue)
}

div.carrot {
  background-color: orange;
  background-image: url('../Carrots/carrot.gif');
  background-size: contain;
  cursor: pointer;
  width:10px;
}

.setting-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-left: 5%;
  margin-right: 5%;
}

.start, .on-off {
  border-radius:50%;
  background-color: rgb(218, 252, 30);
  padding:15px;
}

.restart {
  border-radius:50%;
  background-color: rgb(218, 252, 30);
  padding:15px;
}

.settings-words {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-left: 5%;
  margin-right: 5%;
  color:#ffffff;
}

.mega {
  border-radius:50%;
  background-color: rgb(129, 197, 66);
  padding:20px;
  box-shadow: 3px 3px 3px rgb(61, 41, 41);
  color:rgb(116, 98, 98);
  opacity: 4;
  transition: 8;
}

.mega:hover {
  opacity: 5;
  background-color: rgb(69, 79, 85);
}

.side-buttons {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.up {
  display:flex;
  justify-content: center;
}

.down {
  display:flex;
  justify-content: center;
}

.border {
  background-color:rgb(68, 65, 65);
}



@-webkit-keyframes AnimationName {
  0%{background-position:0% 65%}
  50%{background-position:100% 36%}
  100%{background-position:0% 65%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 65%}
  50%{background-position:100% 36%}
  100%{background-position:0% 65%}
}
@keyframes AnimationName {
  0%{background-position:0% 65%}
  50%{background-position:100% 36%}
  100%{background-position:0% 65%}
}







