* {
  box-sizing: border-box;
}

body {
  margin:0;
  padding:0;
  font-family: 'Press Start 2P', cursive;
  backdrop-filter: blur(5px);
}

.parent {
  display:flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url("https://external-preview.redd.it/duKgD4ViGTX7IyUU5U01JpGsCoh-WVX0WVVB9Xrc_QA.jpg?auto=webp&s=e76d5b61dd8891dd51c3435f3fd212b2b87dc756");
  background-size: cover;
  width:100%;
  height:100vh;
}

.console {
  width: 45%;
  height: 95%;
  margin-bottom: 0;
  background-color: #38c4c9;
  border-radius: 25px 25px 0 0;
  padding:30px;
}

.screen {
  width:100%;
  height:auto;
  /* background-color: #9DD0C2; */
  display:flex;
  justify-content: center;
  border-radius: 25px 25px 25px 25px;
  margin-bottom: 50px;
  background: linear-gradient(120deg,#5FF330, #34caa4, #d5ee13, #ee8913, #2979ff, #ff0020);
  background-size: 1000% 1000%;
  -webkit-animation: AnimationName 39s ease infinite;
  -moz-animation: AnimationName 39s ease infinite;
  animation: AnimationName 39s ease infinite;
}

.grid-wrapper {
  border: 4px solid rgb(109, 110, 110);
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 500px;
  width: 500px;
}

.grid div {
  flex-grow: 1;
  height: 10px;
  width: 10px;
}

.side {
  display: flex;
  flex-grow:wrap;
  height:auto;
  width: calc((100% - 500px) / 2);
  padding:25px;
  font-weight: bold;
  font-size: 25px;
  background-image: linear-gradient(100deg, teal, white, black);
}

/* .hearts {
  display: flex;
  align-items: center;
  justify-content: space-around;
} */


.dark-background {
  background-color: #93C2B5 !important; 
}

.snake {
  background-color: black !important;
  border-radius: 5px;
  background-image:linear-gradient(150deg,green, red);
}

div.carrot {
  background-color: orange;
  background-image: url('../Carrots/Carrot.gif');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  width:30px;
  
}

.setting-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-left: 5%;
  margin-right: 5%;
}

.start, .on-off {
  border-radius:50%;
  background-color: rgb(218, 252, 30);
  padding:15px;
}

.settings-words {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-left: 5%;
  margin-right: 5%;
}

.button {
  border-radius:50%;
  background-color: rgb(223, 255, 44);
  padding:20px;
  box-shadow: 3px 3px 3px rgb(207, 65, 65);
  color:white;
  text-align:center;
  opacity: 0.6;
  transition: 0.5;
}

.button:hover {
  opacity: 3;
  background-color: red;
}

.side-buttons {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  
}

.up {
  display:flex;
  justify-content: center;
}

.down {
  display:flex;
  justify-content: center;
}


@-webkit-keyframes AnimationName {
  0%{background-position:0% 65%}
  50%{background-position:100% 36%}
  100%{background-position:0% 65%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 65%}
  50%{background-position:100% 36%}
  100%{background-position:0% 65%}
}
@keyframes AnimationName {
  0%{background-position:0% 65%}
  50%{background-position:100% 36%}
  100%{background-position:0% 65%}
}







